@charset "UTF-8";
/*lighter box*/
#lighterbox2{display:none;position:absolute;top:0;width:100%;background-image:url(overlay.png);z-index:2100}
#lighterboxclose2{width:100%;height:100%}
#lighterboxwrapper2,#lighterboxcontent2{background-color:#BCD;z-index:inherit}
#lighterboxwrapper2{position:fixed;left:50%;top:50%}
#lighterboxcontent2{background:url(load.gif) no-repeat 50% 50%}
#lighterboxportimage2{border:solid 4px  #444;cursor:pointer}
#lighterboxtitle2{font-size:16px;color:#555; font-weight:bold;margin:0 0 5px 10px}
#lighterboxdescription2{font-size:14px;color:#555; margin-left:10px}
#lighterboxclosebutton2{float:right;margin:0 10px 5px 0;color:#999;font: bold 15px "arial black",verdana,sans-serif}
#lighterboxclosebutton2 span{cursor:pointer;padding:0 3px 0 3px;margin-left:5px}